<section class="bg-success py-2">
  <div class="container">
    <div class="row align-items-center py-4">
      <div class="col-md-8 text-white">
        <h1>Acerca de NovaDigital</h1>
        <p>
          En NovaDigital transformamos ideas en soluciones digitales modernas y funcionales.
          Desarrollamos páginas web y sistemas a medida, enfocados en rendimiento, diseño responsive
          y resultados reales para tu negocio.
        </p>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="assets/img/acercade.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- Close Banner -->

<div class="row container py-4 ms-5">
  <div class="col-lg-6 mb-5 d-flex align-items-center">
    <div class="text-align-left">
      <h1 class="h1">Nuestra Misión</h1>
      <p>
        Brindar soluciones digitales eficientes, modernas y a medida, ayudando a personas y negocios
        a fortalecer su presencia en línea mediante el desarrollo de páginas web, sistemas y
        herramientas tecnológicas que generen valor real, crecimiento y confianza. Trabajamos con
        compromiso, calidad y enfoque estratégico, adaptándonos a las necesidades de cada cliente
        para transformar ideas en soluciones funcionales y escalables.
      </p>
    </div>
  </div>
  <div class="col-lg-6 mb-lg-5 text-center">
    <img
      src="assets/img/mision.jpg"
      alt="Equipo NovaDigital"
      class="img-fluid rounded"
      style="max-height: 380px; object-fit: cover"
    />
  </div>

  <div class="col-lg-6 mb-5 d-flex align-items-center order-lg-2 order-1">
    <div class="text-align-left">
      <h1 class="h1">Nuestra Vision</h1>
      <p>
        Ser una empresa digital referente en innovación y desarrollo tecnológico, reconocida por la
        calidad de nuestros proyectos, la cercanía con nuestros clientes y la capacidad de impulsar
        negocios a través de soluciones digital es sólidas, accesibles y orientadas al futuro.
        Aspiramos a crecer junto a nuestros clientes, evolucionando constantemente con las nuevas
        tecnologías y tendencias del mundo digital.
      </p>
    </div>
  </div>
  <div class="col-lg-6 mb-lg-5 text-center order-lg-1 order-2">
    <img
      src="assets/img/vision.jpg"
      alt="Equipo NovaDigital"
      class="img-fluid rounded"
      style="max-height: 380px; object-fit: cover"
    />
  </div>
</div>

<app-producto></app-producto>