<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">Nuestros Servicios</h1>
        <p>
          Nuestros proyectos destacados que muestran nuestra experiencia y compromiso con la calidad.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="assets/img/gestionEmpresarial.jpg" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Sistema de Gestión Empresarial</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="assets/img/webCorporativo.webp" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Plataforma Web Corporativa</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="assets/img/sistemaInventario.png" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Sistema de Inventario y Ventas</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="assets/img/controlUsuarios.png" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Sistema de Control de Usuarios</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="assets/img/sistemaReserva.jpg" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Sistema de Reservas y Citas</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img src="assets/img/webPersonalizada.jpg" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Aplicación Web Personalizada</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Product -->
