<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
  <div class="container text-light">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <i class="fa fa-envelope mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="mailto:corp.novadigital@gmail.com
"
          >corp.novadigital@gmail.com
        </a>
        <i class="fa fa-phone mx-2"></i>
        <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+51912314640"
          >+51 912314640</a
        >
      </div>
      <div>
        <a class="text-light" href="https://www.facebook.com/profile.php?id=61583363985984" target="_blank" rel="sponsored"
          ><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://www.instagram.com/novadigital.pe" target="_blank"
          ><i class="fab fa-instagram fa-sm fa-fw me-2"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
<!-- Close Top Nav -->

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand d-flex align-items-center" [routerLink]="['/home']">
      <img
        src="assets/img/LogoconTexto.png"
        alt="NovaDigital"
        style="
          height: 80px;
          width: auto;
          object-fit: contain;
          transform: scale(1.8);
          transform-origin: left center;
          display: block;
        "
      />
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#templatemo_main_nav"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
      id="templatemo_main_nav"
    >
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/acercade']">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/servicios']">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contacto']">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Close Header -->
